{"swagger":"2.0","info":{"title":"CHIPS On-boarding","version":"1.0","license":{"name":" Apache 2.0 License","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"termsOfService":" https://marketplace.trustlinkhosting.com","contact":{"name":"API Sales","url":"https://marketplace.trustlinkhosting.com","email":"apisales@trustlink.co.za"},"description":"The CHIPS payment platform enables registered users/merchants to create a payment request token that can be paid with various MasterPass enabled payment applications available on the South African payments landscape.\n\nThird parties can build their own wallet with the CHIPS&reg; Value Store as the backend. The third party application will need to on-board their users into the CHIPS&reg; Payment Network.\n\n**Call Flow**\nAPI Steps for on-boarding an individual into the CHIPS network:\n1. Check that the mobile number for the user does not exist already.\n1. Send an OTP to the mobile via SMS or USSD.\n1. Verify the OTP.\n1. The individual now needs to provide data to validate against home affairs. This include a photo of their ID book or card.\n1. Now the person can be created in the system.\n1. Set initial Passcode\n\n\n\n"},"host":"apim.trustlinkhosting.com:8065","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"paths":{"/mobile/{mobileNumber}":{"parameters":[{"name":"mobileNumber","in":"path","description":"Mobile number to check. Must be in international format.See [API Data Types - Phone Number](https://stoplight.io/p/docs/gh/trustlink-apim/chips/docs/api-marketplace-data-type.md#phone-numbers)","pattern":"^\\+[0-9]*","minLength":0,"type":"string","required":true}],"get":{"summary":"Check mobile number","responses":{"200":{"description":"Mobile number is registered.","schema":{"type":"object","properties":{"uuid":{"type":"string"},"displayname":{"type":"string"},"guardian":{"type":"boolean"},"apimStatus":{"type":"object","title":"Status","description":"<!-- Publish Sanity Check 001 -->\n\nAll responses from the marketplace will at least contain the *apimStatus* object.  The purpose is to inform the requester of status details above and beyond the HTTP status code.\n\nNote that it is possible to have a success indicator on the marketplace layer, but have a unsuccessful indication on the *providerCode*. This in essence means that even if the API to the provider returned for example a 'not found' result, the request is still chargable on the marketplace layer.\n\nThe *providerCode* will only be present if the API was routed to the API Provider.\n\n## Marketplace Codes\n\n| Code | Description |\n|------|---------------|\n| 200 | Successfully serviced and charged. |\n| 250 | Successfully serviced with no charge. |\n| 401 | Unauthorized.  |\n| 404 | Not Found. |\n| 450 | Application Not Found. |\n| 451 | Organization Not Found. |\n| 500 | Internal Server Error. | \n\n\n\n","x-examples":{"Success":{"apimStatus":{"marketplaceCode":200,"marketplaceMsg":"Success","providerCode":"200"}},"Lookup failure":{"apimStatus":{"marketplaceCode":200,"marketplaceMsg":"Success","providerCode":"404","providerMsg":"Not Found","userMsg":"Item requested was not found"}},"Authorization Error":{"apimStatus":{"marketplaceCode":401,"marketplaceMsg":"Unauthorized"}}},"properties":{"marketplaceCode":{"type":"integer","example":450,"description":"Indicates status on the marketplace layer. ","title":"Markerplace layer status code"},"marketplaceMsg":{"type":"string","title":"Human readable message to provide more details on the *marketplaceCode*.","default":"Success","example":"An API subscription application for the requested URI was not found.","description":"Human readable description providing details about the error. On success the value will be 'Success'"},"providerCode":{"type":"string","description":"Error code returned API provider. The value is of type string seeing as the prodiver might respond with a string error code like 'ERRDB01'","example":"ERRDB04"},"providerMsg":{"type":"string","example":"Table not found","description":"Error message passed by provider"},"userMsg":{"type":"string","example":"Your cart was not found.","description":"User friendly message"},"statusCode":{"type":"integer","description":"Same as the http status code","example":200}},"required":["statusCode"],"x-tags":["API Marketplace Core"]}},"required":["apimStatus"]}},"204":{"description":"Mobile number was not found","schema":{"type":"object","properties":{}}},"400":{"description":"Validation Error","schema":{"title":"Validation Error","type":"object","properties":{"key":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"detail":{"type":"string"}},"description":"Error description for 400 Bad Request responses"}},"404":{"description":"Not Found","schema":{"type":"object","properties":{}}},"500":{"description":"Internal Server Error","schema":{"type":"object","properties":{}}}},"operationId":"chips-onboarding-mobile-get","description":"Check if the mobile number is already registered or not. If the number exists, the user is already onboarded.\n\nTHIS IS A TEST \n\n## Examples\n\n<!--\ntype: tab\ntitle: Mobile Not Found\n-->\n\n### The request\n\n\n```json http\n{\n  \"method\": \"get\",\n  \"url\": \"https://apim.trustlinkhosting.com:8065/sandbox/chips/onboarding/mobile/+27829999999\",\n  \"query\": {\n    \"version\": \"1.0\"\n  },\n  \"headers\": {\n    \"marketplaceKeyId\": \"<add>\"\n  }\n}\n```\n\n\n\n<!--\ntype: tab\ntitle: Mobile Found\n-->\n\n### The request\n```json http\n{\n  \"method\": \"get\",\n  \"url\": \"https://apim.trustlinkhosting.com:8065/sandbox/chips/onboarding/mobile/+27821231234\",\n  \"query\": {\n    \"version\": \"1.0\"\n  },\n  \"headers\": {\n    \"marketplaceKeyId\": \"<add>\"\n  }\n}\n```\n\n\n<!-- type: tab-end -->\n\n## Tech Stuff\n","parameters":[],"tags":["Onboarding","Mobile"]}},"/mobile/otp/request":{"get":{"summary":"Request OTP","operationId":"chips-onboarding-mobile-otp-request","responses":{"204":{"description":"OTP Generated and sent."},"400":{"description":"Validation Error","schema":{"title":"Validation Error","type":"object","properties":{"key":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"detail":{"type":"string"}},"description":"Error description for 400 Bad Request responses"}},"404":{"description":"Not Found","schema":{"type":"object","properties":{}}}},"description":"Request an OTP for a mobile number.","parameters":[{"type":"string","in":"query","name":"mobileNumber","description":"Mobile number to send the OTP to. Must be in international format and url encoded i.e. %2B27821231234.","pattern":"\\+[0-9]*","required":true},{"type":"string","in":"query","name":"notificationType","description":"Indicator if the OTP must be sent via SMS or USSD","enum":["SMS","USSD"],"required":true}],"tags":["Onboarding","Mobile"]}},"/mobile/otp/verify":{"get":{"summary":"Verify OTP","operationId":"chips-onboarding-mobile-otp-verify","responses":{"204":{"description":"OTP successfully verified."},"400":{"description":"Validation Error","schema":{"title":"Validation Error","type":"object","properties":{"key":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"detail":{"type":"string"}},"description":"Error description for 400 Bad Request responses"}},"404":{"description":"Not Found","schema":{"type":"object","properties":{}}}},"description":"Verify the OTP sent to mobile.","parameters":[{"type":"string","in":"query","name":"mobileNumber","description":"Mobile number the OTP was generated for. Must be in international format i.e. +27821231234","required":true},{"type":"string","in":"query","name":"otp","description":"One Time Pin","required":true}],"tags":["Onboarding","Mobile"]},"parameters":[]},"/identity/verify":{"post":{"summary":"","operationId":"chips-onboarding-identity-verify-post","responses":{"200":{"description":"Result of verification true/false","schema":{"type":"boolean"}},"400":{"description":"Validation Error","schema":{"title":"Validation Error","type":"object","properties":{"key":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"detail":{"type":"string"}},"description":"Error description for 400 Bad Request responses"}}},"description":"The individual is required to provide data for verification against home affairs. This includes taking a photo of their ID book or ID Card.\n\n","parameters":[{"in":"body","name":"body","schema":{"type":"object","properties":{"identityNumber":{"type":"string"},"firstName":{"type":"string"},"maidenName":{"type":"string"},"surname":{"type":"string"},"genderType":{"type":"string"},"countryOfBirth":{"type":"string"},"photo":{"type":"string","description":"Base 64 encoded photo of the ID book / card"}},"required":["identityNumber","firstName","surname","genderType","countryOfBirth","photo"]},"description":"ID Verification Data"}],"tags":["Onboarding","Identity"]},"parameters":[]},"/person":{"post":{"summary":"","operationId":"chips-onboarding-person-post","responses":{"200":{"description":"Profile creatation response.","schema":{"type":"object","properties":{"uuid":{"type":"string"},"requestId":{"type":"string"},"created":{"type":"string"},"createdBy":{"type":"string"},"lastModified":{"type":"string"},"modifiedBy":{"type":"string"},"guardianUuid":{"type":"string"},"referrerUuid":{"type":"string"},"email":{"type":"string"},"mobileNumber":{"type":"string"},"displayName":{"type":"string"},"identityNumber":{"type":"string"},"verificationLevel":{"type":"string"}}}},"400":{"description":"Bad Request","schema":{"title":"Validation Error","type":"object","properties":{"key":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"detail":{"type":"string"}},"description":"Error description for 400 Bad Request responses"}}},"description":"Create the person in the CHIPS Network backend.","parameters":[{"in":"body","name":"body","schema":{"type":"object","properties":{"referrerUuid":{"type":"string"},"displayName":{"type":"string"},"email":{"type":"string"},"mobileNumber":{"type":"string"},"mobileNumberToken":{"type":"string","description":"OTP sent at the start of the onboarding process."},"photo":{"type":"string"},"identity":{"type":"object","required":["identityNumber","firstNames","surname","genderType","countryOfBirth","dateOfBirth","photo"],"description":"Provide the identity structure that was validated in the previous step.","properties":{"identityNumber":{"type":"string"},"firstNames":{"type":"string"},"maidenName":{"type":"string"},"surname":{"type":"string"},"genderType":{"type":"string"},"countryOfBirth":{"type":"string"},"dateOfBirth":{"type":"string","description":"Format yyyy-mm-dd"},"photo":{"type":"string","description":"Base 64 encoded photo of the ID book or card"}}}},"required":["displayName","mobileNumber","mobileNumberToken","photo","identity"]}}]},"parameters":[]}},"definitions":{"Validation-Error":{"title":"Validation Error","type":"object","properties":{"key":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"detail":{"type":"string"}},"description":"Error description for 400 Bad Request responses"}},"basePath":"/onboarding","securityDefinitions":{"API Key":{"type":"apiKey","description":"API Key","name":"marketplaceKeyId"},"in":"header"},"security":[{"API Key":[]}]}