{
    "swagger": "2.0",
    "x-stoplight": {
        "id": "6e8e70fc28f2a"
    },
    "info": {
        "title": "TPN Account Maintenance API",
        "version": "1.0",
        "license": {
            "name": " Apache 2.0 License",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "termsOfService": " https://marketplace.trustlinkhosting.com",
        "contact": {
            "name": "API Sales",
            "url": "https://marketplace.trustlinkhosting.com",
            "email": "apisales@trustlink.co.za"
        },
        "description": "Maintaining account details for individuals\n"
    },
    "host": "apim.trustlinkhosting.com:8165",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/accounts": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "custodianUuid": {
                                            "type": "string"
                                        },
                                        "memberUuid": {
                                            "type": "string"
                                        },
                                        "page": {
                                            "type": "integer"
                                        },
                                        "size": {
                                            "type": "integer"
                                        },
                                        "order": {
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        },
                        "description": "When account member is queried the mememberUuid is a required field"
                    },
                    {
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "custodianUuid": {
                                            "type": "string"
                                        },
                                        "memberUuid": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account details response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pageSize": {
                                    "type": "integer"
                                },
                                "pageNumber": {
                                    "type": "integer"
                                },
                                "totalPages": {
                                    "type": "integer"
                                },
                                "totalElements": {
                                    "type": "integer"
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "uuid": {
                                                "type": "string"
                                            },
                                            "requestId": {
                                                "type": "string"
                                            },
                                            "created": {
                                                "type": "string"
                                            },
                                            "createdBy": {
                                                "type": "string"
                                            },
                                            "createdByChannelUuid": {
                                                "type": "string"
                                            },
                                            "lastModified": {
                                                "type": "string"
                                            },
                                            "lastModifiedBy": {
                                                "type": "string"
                                            },
                                            "lastModifiedByChannelUuid": {
                                                "type": "string"
                                            },
                                            "reason": {
                                                "type": "string"
                                            },
                                            "memberType": {
                                                "type": "string"
                                            },
                                            "memberUuid": {
                                                "type": "string"
                                            },
                                            "custodianUuid": {
                                                "type": "string"
                                            },
                                            "approveLimitAmount": {
                                                "type": "integer"
                                            },
                                            "autoLimitAmount": {
                                                "type": "integer"
                                            },
                                            "dailyLimitAmount": {
                                                "type": "integer"
                                            },
                                            "availableBalanceAmount": {
                                                "type": "integer"
                                            },
                                            "transactionLimitAmount": {
                                                "type": "integer"
                                            },
                                            "availableLimitAmount": {
                                                "type": "integer"
                                            },
                                            "verificationType": {
                                                "type": "string"
                                            },
                                            "verificationLevel": {
                                                "type": "integer"
                                            },
                                            "referrerUuid": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "pageSize": 0,
                                    "pageNumber": 0,
                                    "totalPages": 0,
                                    "totalElements": 0,
                                    "values": [
                                        {
                                            "uuid": "stringstringstringstringstringstring",
                                            "requestId": "string",
                                            "created": "2022-07-20T12:11:33.941Z",
                                            "createdBy": "string",
                                            "createdByChannelUuid": "stringstringstringstringstringstring",
                                            "lastModified": "2022-07-20T12:11:33.941Z",
                                            "lastModifiedBy": "string",
                                            "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                            "reason": "string",
                                            "memberType": "BANK",
                                            "memberUuid": "stringstringstringstringstringstring",
                                            "custodianUuid": "stringstringstringstringstringstring",
                                            "approveLimitAmount": 0,
                                            "autoLimitAmount": 0,
                                            "dailyLimitAmount": 0,
                                            "availableBalanceAmount": 0,
                                            "transactionLimitAmount": 0,
                                            "availableLimitAmount": 0,
                                            "verificationType": "ADULT",
                                            "verificationLevel": 0,
                                            "referrerUuid": "stringstringstringstringstringstring"
                                        }
                                    ]
                                }
                            }
                        },
                        "examples": {}
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-accounts-get",
                "summary": "Get account details",
                "description": "Find member account by criteria"
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "memberUuid": {
                                    "type": "string"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        }
                    },
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "See CHIPS Authorization Methods"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member account data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberType": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "custodianUuid": {
                                    "type": "string"
                                },
                                "approveLimitAmount": {
                                    "type": "integer"
                                },
                                "autoLimitAmount": {
                                    "type": "integer"
                                },
                                "dailyLimitAmount": {
                                    "type": "integer"
                                },
                                "availableBalanceAmount": {
                                    "type": "integer"
                                },
                                "transactionLimitAmount": {
                                    "type": "integer"
                                },
                                "availableLimitAmount": {
                                    "type": "integer"
                                },
                                "verificationType": {
                                    "type": "string"
                                },
                                "verificationLevel": {
                                    "type": "integer"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-21T13:44:01.664Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-21T13:44:01.664Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberType": "BANK",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "custodianUuid": "stringstringstringstringstringstring",
                                    "approveLimitAmount": 0,
                                    "autoLimitAmount": 0,
                                    "dailyLimitAmount": 0,
                                    "availableBalanceAmount": 0,
                                    "transactionLimitAmount": 0,
                                    "availableLimitAmount": 0,
                                    "verificationType": "ADULT",
                                    "verificationLevel": 0,
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "default response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberType": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "custodianUuid": {
                                    "type": "string"
                                },
                                "approveLimitAmount": {
                                    "type": "integer"
                                },
                                "autoLimitAmount": {
                                    "type": "integer"
                                },
                                "dailyLimitAmount": {
                                    "type": "integer"
                                },
                                "availableBalanceAmount": {
                                    "type": "integer"
                                },
                                "transactionLimitAmount": {
                                    "type": "integer"
                                },
                                "availableLimitAmount": {
                                    "type": "integer"
                                },
                                "verificationType": {
                                    "type": "string"
                                },
                                "verificationLevel": {
                                    "type": "integer"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-20T12:18:45.693Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-20T12:18:45.693Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberType": "BANK",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "custodianUuid": "stringstringstringstringstringstring",
                                    "approveLimitAmount": 0,
                                    "autoLimitAmount": 0,
                                    "dailyLimitAmount": 0,
                                    "availableBalanceAmount": 0,
                                    "transactionLimitAmount": 0,
                                    "availableLimitAmount": 0,
                                    "verificationType": "ADULT",
                                    "verificationLevel": 0,
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        },
                        "examples": {
                            "example-1": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-accounts-post",
                "summary": "Create account",
                "description": "Create account for given member"
            },
            "parameters": []
        },
        "/bank/accounts": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "custodianUuid": {
                                            "type": "string"
                                        },
                                        "memberUuid": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "memberUuid",
                        "description": "Member UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "632005",
                        "name": "branchCode"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "4041119999",
                        "name": "accountNumber"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "CREDIT, DEBIT, CHEQUE, SAVINGS",
                        "name": "accountType"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "(ISO/IEC 9834-8:201)",
                        "name": "bankUuid"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "ABSA",
                        "name": "bankCode"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-bank-accounts-get",
                "summary": "Get bank account details",
                "description": "Find member's bank account by criteria",
                "responses": {
                    "200": {
                        "description": "Bank account response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pageSize": {
                                    "type": "integer"
                                },
                                "pageNumber": {
                                    "type": "integer"
                                },
                                "totalPages": {
                                    "type": "integer"
                                },
                                "totalElements": {
                                    "type": "integer"
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "uuid": {
                                                "type": "string"
                                            },
                                            "requestId": {
                                                "type": "string"
                                            },
                                            "created": {
                                                "type": "string"
                                            },
                                            "createdBy": {
                                                "type": "string"
                                            },
                                            "createdByChannelUuid": {
                                                "type": "string"
                                            },
                                            "lastModified": {
                                                "type": "string"
                                            },
                                            "lastModifiedBy": {
                                                "type": "string"
                                            },
                                            "lastModifiedByChannelUuid": {
                                                "type": "string"
                                            },
                                            "reason": {
                                                "type": "string"
                                            },
                                            "memberUuid": {
                                                "type": "string"
                                            },
                                            "branchCode": {
                                                "type": "string"
                                            },
                                            "holderName": {
                                                "type": "string"
                                            },
                                            "accountNumber": {
                                                "type": "string"
                                            },
                                            "accountType": {
                                                "type": "string"
                                            },
                                            "bankCode": {
                                                "type": "string"
                                            },
                                            "bankUuid": {
                                                "type": "string"
                                            },
                                            "defaultIndicator": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "pageSize": 0,
                                    "pageNumber": 0,
                                    "totalPages": 0,
                                    "totalElements": 0,
                                    "values": [
                                        {
                                            "uuid": "stringstringstringstringstringstring",
                                            "requestId": "string",
                                            "created": "2022-07-21T13:00:52.872Z",
                                            "createdBy": "string",
                                            "createdByChannelUuid": "stringstringstringstringstringstring",
                                            "lastModified": "2022-07-21T13:00:52.872Z",
                                            "lastModifiedBy": "string",
                                            "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                            "reason": "string",
                                            "memberUuid": "stringstringstringstringstringstring",
                                            "branchCode": "632005",
                                            "holderName": "Mr. A.B. Brown",
                                            "accountNumber": "4041-119-999",
                                            "accountType": "Cheque",
                                            "bankCode": "ABSA",
                                            "bankUuid": "stringstringstringstringstringstring",
                                            "defaultIndicator": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "See CHIPS Authorization Methods"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "memberUuid": {
                                    "type": "string"
                                },
                                "branchCode": {
                                    "type": "string"
                                },
                                "holderName": {
                                    "type": "string"
                                },
                                "accountNumber": {
                                    "type": "string"
                                },
                                "accountType": {
                                    "type": "string"
                                },
                                "bankCode": {
                                    "type": "string"
                                },
                                "bankUuid": {
                                    "type": "string"
                                },
                                "defaultIndicator": {
                                    "type": "boolean"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "branchCode": "632005",
                                    "holderName": "Mr. A.B. Brown",
                                    "accountNumber": "4041-119-999",
                                    "accountType": "Cheque",
                                    "bankCode": "ABSA",
                                    "bankUuid": "stringstringstringstringstringstring",
                                    "defaultIndicator": true
                                }
                            }
                        }
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-bank-accounts-post",
                "summary": "Register a member's bank account",
                "description": "Create bank account for given member",
                "responses": {
                    "200": {
                        "description": "Bank account created information",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "branchCode": {
                                    "type": "string"
                                },
                                "holderName": {
                                    "type": "string"
                                },
                                "accountNumber": {
                                    "type": "string"
                                },
                                "accountType": {
                                    "type": "string"
                                },
                                "bankCode": {
                                    "type": "string"
                                },
                                "bankUuid": {
                                    "type": "string"
                                },
                                "defaultIndicator": {
                                    "type": "boolean"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-21T13:05:36.231Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-21T13:05:36.231Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "branchCode": "632005",
                                    "holderName": "Mr. A.B. Brown",
                                    "accountNumber": "4041-119-999",
                                    "accountType": "Cheque",
                                    "bankCode": "ABSA",
                                    "bankUuid": "stringstringstringstringstringstring",
                                    "defaultIndicator": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": []
        },
        "/accounts/{uuid}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "UUID (ISO/IEC 9834-8:201)",
                        "in": "path",
                        "maxLength": 36,
                        "minLength": 36,
                        "name": "uuid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "uuid": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "uuid",
                        "description": "UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member account data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberType": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "custodianUuid": {
                                    "type": "string"
                                },
                                "approveLimitAmount": {
                                    "type": "integer"
                                },
                                "autoLimitAmount": {
                                    "type": "integer"
                                },
                                "dailyLimitAmount": {
                                    "type": "integer"
                                },
                                "availableBalanceAmount": {
                                    "type": "integer"
                                },
                                "transactionLimitAmount": {
                                    "type": "integer"
                                },
                                "availableLimitAmount": {
                                    "type": "integer"
                                },
                                "verificationType": {
                                    "type": "string"
                                },
                                "verificationLevel": {
                                    "type": "integer"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-20T12:26:10.322Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-20T12:26:10.322Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberType": "BANK",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "custodianUuid": "stringstringstringstringstringstring",
                                    "approveLimitAmount": 0,
                                    "autoLimitAmount": 0,
                                    "dailyLimitAmount": 0,
                                    "availableBalanceAmount": 0,
                                    "transactionLimitAmount": 0,
                                    "availableLimitAmount": 0,
                                    "verificationType": "ADULT",
                                    "verificationLevel": 0,
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-accounts-uuid-get",
                "summary": "Get account by unique identifier",
                "description": "Get account by unique identifier"
            },
            "patch": {
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "UUID (ISO/IEC 9834-8:201)",
                        "in": "path",
                        "maxLength": 36,
                        "minLength": 36,
                        "name": "uuid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "op": {
                                        "type": "string"
                                    },
                                    "from": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            },
                            "x-examples": {
                                "example-1": [
                                    {
                                        "op": "add",
                                        "from": "string",
                                        "path": "string",
                                        "value": {}
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "uuid",
                        "description": "UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member account data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberType": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "custodianUuid": {
                                    "type": "string"
                                },
                                "approveLimitAmount": {
                                    "type": "integer"
                                },
                                "autoLimitAmount": {
                                    "type": "integer"
                                },
                                "dailyLimitAmount": {
                                    "type": "integer"
                                },
                                "availableBalanceAmount": {
                                    "type": "integer"
                                },
                                "transactionLimitAmount": {
                                    "type": "integer"
                                },
                                "availableLimitAmount": {
                                    "type": "integer"
                                },
                                "verificationType": {
                                    "type": "string"
                                },
                                "verificationLevel": {
                                    "type": "integer"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-20T12:28:24.821Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-20T12:28:24.821Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberType": "BANK",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "custodianUuid": "stringstringstringstringstringstring",
                                    "approveLimitAmount": 0,
                                    "autoLimitAmount": 0,
                                    "dailyLimitAmount": 0,
                                    "availableBalanceAmount": 0,
                                    "transactionLimitAmount": 0,
                                    "availableLimitAmount": 0,
                                    "verificationType": "ADULT",
                                    "verificationLevel": 0,
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-accounts-uuid-patch",
                "summary": "Update account by unique identifier",
                "description": "Update account with path"
            },
            "parameters": [
                {
                    "type": "string",
                    "name": "uuid",
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/bank/accounts/{uuid}": {
            "delete": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "UUID (ISO/IEC 9834-8:201)",
                        "in": "path",
                        "maxLength": 36,
                        "minLength": 36,
                        "name": "uuid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "UUID (ISO/IEC 9834-8:201)",
                        "name": "uuid"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Member's bank account deleted"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-bank-accounts-uuid-delete",
                "summary": "Delete bank account by unique identifier",
                "description": "Delete bank account by unique identifier"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "UUID (ISO/IEC 9834-8:201)",
                        "in": "path",
                        "maxLength": 36,
                        "minLength": 36,
                        "name": "uuid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "uuid": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "uuid",
                        "description": "UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member's bank account data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberType": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "custodianUuid": {
                                    "type": "string"
                                },
                                "approveLimitAmount": {
                                    "type": "integer"
                                },
                                "autoLimitAmount": {
                                    "type": "integer"
                                },
                                "dailyLimitAmount": {
                                    "type": "integer"
                                },
                                "availableBalanceAmount": {
                                    "type": "integer"
                                },
                                "transactionLimitAmount": {
                                    "type": "integer"
                                },
                                "availableLimitAmount": {
                                    "type": "integer"
                                },
                                "verificationType": {
                                    "type": "string"
                                },
                                "verificationLevel": {
                                    "type": "integer"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-21T13:39:25.091Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-21T13:39:25.091Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberType": "BANK",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "custodianUuid": "stringstringstringstringstringstring",
                                    "approveLimitAmount": 0,
                                    "autoLimitAmount": 0,
                                    "dailyLimitAmount": 0,
                                    "availableBalanceAmount": 0,
                                    "transactionLimitAmount": 0,
                                    "availableLimitAmount": 0,
                                    "verificationType": "ADULT",
                                    "verificationLevel": 0,
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-bank-accounts-uuid-get",
                "summary": "Get bank account by unique identifier",
                "description": "Get bank account by unique identifier"
            },
            "patch": {
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "UUID (ISO/IEC 9834-8:201)",
                        "in": "path",
                        "maxLength": 36,
                        "minLength": 36,
                        "name": "uuid",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "op": {
                                        "type": "string"
                                    },
                                    "from": {
                                        "type": "string"
                                    },
                                    "path": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            },
                            "x-examples": {
                                "example-1": [
                                    {
                                        "op": "add",
                                        "from": "string",
                                        "path": "string",
                                        "value": {}
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "type": "string",
                        "in": "header",
                        "name": "Authorization",
                        "description": "Bearer token"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "uuid",
                        "description": "UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member bank account data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberType": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "custodianUuid": {
                                    "type": "string"
                                },
                                "approveLimitAmount": {
                                    "type": "integer"
                                },
                                "autoLimitAmount": {
                                    "type": "integer"
                                },
                                "dailyLimitAmount": {
                                    "type": "integer"
                                },
                                "availableBalanceAmount": {
                                    "type": "integer"
                                },
                                "transactionLimitAmount": {
                                    "type": "integer"
                                },
                                "availableLimitAmount": {
                                    "type": "integer"
                                },
                                "verificationType": {
                                    "type": "string"
                                },
                                "verificationLevel": {
                                    "type": "integer"
                                },
                                "referrerUuid": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "uuid": "stringstringstringstringstringstring",
                                    "requestId": "string",
                                    "created": "2022-07-20T12:28:24.821Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "stringstringstringstringstringstring",
                                    "lastModified": "2022-07-20T12:28:24.821Z",
                                    "lastModifiedBy": "string",
                                    "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                    "reason": "string",
                                    "memberType": "BANK",
                                    "memberUuid": "stringstringstringstringstringstring",
                                    "custodianUuid": "stringstringstringstringstringstring",
                                    "approveLimitAmount": 0,
                                    "autoLimitAmount": 0,
                                    "dailyLimitAmount": 0,
                                    "availableBalanceAmount": 0,
                                    "transactionLimitAmount": 0,
                                    "availableLimitAmount": 0,
                                    "verificationType": "ADULT",
                                    "verificationLevel": 0,
                                    "referrerUuid": "stringstringstringstringstringstring"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Account"
                ],
                "operationId": "chips-maintain-bank-accounts-uuid-patch",
                "summary": "Update bank account by unique identifier",
                "description": "Update bank account with path"
            },
            "parameters": [
                {
                    "type": "string",
                    "name": "uuid",
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/links": {
            "get": {
                "summary": "Get member's beneficiary list",
                "tags": [],
                "responses": {
                    "200": {
                        "description": "Bank account retreived",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pageSize": {
                                    "type": "integer"
                                },
                                "pageNumber": {
                                    "type": "integer"
                                },
                                "totalPages": {
                                    "type": "integer"
                                },
                                "totalElements": {
                                    "type": "integer"
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "uuid": {
                                                "type": "string"
                                            },
                                            "requestId": {
                                                "type": "string"
                                            },
                                            "created": {
                                                "type": "string"
                                            },
                                            "createdBy": {
                                                "type": "string"
                                            },
                                            "createdByChannelUuid": {
                                                "type": "string"
                                            },
                                            "lastModified": {
                                                "type": "string"
                                            },
                                            "lastModifiedBy": {
                                                "type": "string"
                                            },
                                            "lastModifiedByChannelUuid": {
                                                "type": "string"
                                            },
                                            "reason": {
                                                "type": "string"
                                            },
                                            "memberUuid": {
                                                "type": "string"
                                            },
                                            "contactUuid": {
                                                "type": "string"
                                            },
                                            "category1": {
                                                "type": "string"
                                            },
                                            "category2": {
                                                "type": "string"
                                            },
                                            "category3": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "pageSize": 0,
                                    "pageNumber": 0,
                                    "totalPages": 0,
                                    "totalElements": 0,
                                    "values": [
                                        {
                                            "uuid": "stringstringstringstringstringstring",
                                            "requestId": "string",
                                            "created": "2022-07-21T15:30:21.972Z",
                                            "createdBy": "string",
                                            "createdByChannelUuid": "stringstringstringstringstringstring",
                                            "lastModified": "2022-07-21T15:30:21.973Z",
                                            "lastModifiedBy": "string",
                                            "lastModifiedByChannelUuid": "stringstringstringstringstringstring",
                                            "reason": "string",
                                            "memberUuid": "stringstringstringstringstringstring",
                                            "contactUuid": "stringstringstringstringstringstring",
                                            "category1": "string",
                                            "category2": "string",
                                            "category3": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "detail": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
                                    "key": "string",
                                    "code": "string",
                                    "description": "string",
                                    "detail": "string"
                                }
                            }
                        }
                    }
                },
                "operationId": "chips-maintain-links-get",
                "description": "Get one or more beneficiary by using query parameters.",
                "parameters": [
                    {
                        "type": "string",
                        "in": "query",
                        "name": "contactUuid",
                        "description": "Contact member UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "custodianUuid",
                        "description": "Custodian UUID (ISO/IEC 9834-8:201)"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "description": "Member UUID (ISO/IEC 9834-8:201)",
                        "name": "memberUuid"
                    },
                    {
                        "type": "integer",
                        "in": "query",
                        "name": "page",
                        "description": "Default value : 0"
                    },
                    {
                        "type": "integer",
                        "in": "query",
                        "name": "size",
                        "description": "Default value : 200"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "order",
                        "description": "Default value : ASC"
                    },
                    {
                        "type": "string",
                        "in": "query",
                        "name": "orderBy",
                        "description": "Default value : lastModified"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ]
            },
            "post": {
                "summary": "Add beneficiary entry",
                "operationId": "chips-maintain-links-post",
                "responses": {
                    "200": {
                        "description": "Bank account created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string"
                                },
                                "requestId": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "createdBy": {
                                    "type": "string"
                                },
                                "createdByChannelUuid": {
                                    "type": "string"
                                },
                                "lastModified": {
                                    "type": "string"
                                },
                                "lastModifiedBy": {
                                    "type": "string"
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "memberUuid": {
                                    "type": "string"
                                },
                                "contactUuid": {
                                    "type": "string"
                                },
                                "category1": {
                                    "type": "string"
                                },
                                "category2": {
                                    "type": "string"
                                },
                                "category3": {
                                    "type": "string"
                                }
                            },
                            "x-examples": {
                                "example-1": {
[...]
