{
  "swagger" : "2.0",
  "host" : "apim.trustlinkhosting.com:8065",
  "basePath" : "/sandbox/chips/payments/masterpass",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/transactions" : {
      "get" : {
        "description" : "Find transactions by criteria",
        "operationId" : "chips_find_transactions_by_criteria",
        "summary" : "Get one or more transactions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "required" : false,
          "in" : "query",
          "name" : "tokenRequestId",
          "type" : "string"
        }, {
          "required" : false,
          "in" : "query",
          "name" : "tokenId",
          "type" : "string"
        }, {
          "required" : false,
          "in" : "query",
          "name" : "systemRefInfo",
          "type" : "string"
        }, {
          "required" : false,
          "in" : "query",
          "name" : "txRefInfo",
          "type" : "string"
        }, {
          "format" : "date-time",
          "required" : false,
          "in" : "query",
          "name" : "createdFrom",
          "type" : "string"
        }, {
          "format" : "date-time",
          "required" : false,
          "in" : "query",
          "name" : "createdUntil",
          "type" : "string"
        }, {
          "required" : false,
          "in" : "query",
          "name" : "status",
          "type" : "string"
        }, {
          "description" : "Page number requested",
          "format" : "int32",
          "required" : false,
          "in" : "query",
          "name" : "page",
          "type" : "integer"
        }, {
          "description" : "Number of entries to include per page",
          "format" : "int32",
          "required" : false,
          "in" : "query",
          "name" : "size",
          "type" : "integer"
        }, {
          "description" : "Sort oder",
          "required" : false,
          "in" : "query",
          "name" : "order",
          "type" : "string"
        }, {
          "description" : "Sort field",
          "required" : false,
          "in" : "query",
          "name" : "orderBy",
          "type" : "string"
        }, {
          "description" : "Basic token",
          "required" : false,
          "in" : "header",
          "name" : "Authorization",
          "type" : "string"
        }, {
          "description" : "The routing key parameter.",
          "required" : true,
          "in" : "query",
          "name" : "version",
          "type" : "string",
          "enum" : [ "1.0" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "schema" : {
              "properties" : {
                "pageNumber" : {
                  "type" : "integer"
                },
                "values" : {
                  "items" : {
                    "description" : "Page entries",
                    "required" : [ "amount", "created", "description", "lastModified", "movementAmount", "transactionStatus", "uuid" ],
                    "properties" : {
                      "amount" : {
                        "description" : "Amount",
                        "type" : "number"
                      },
                      "category1" : {
                        "description" : "Category 1",
                        "type" : "string"
                      },
                      "category2" : {
                        "description" : "Category 2",
                        "type" : "string"
                      },
                      "category3" : {
                        "description" : "Category 3",
                        "type" : "string"
                      },
                      "created" : {
                        "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                        "format" : "date-time",
                        "type" : "string"
                      },
                      "description" : {
                        "description" : "Description",
                        "type" : "string"
                      },
                      "fees" : {
                        "description" : "Fees attracted by the transaction",
                        "properties" : {
                          "externalAmount" : {
                            "description" : "External fee amount",
                            "type" : "number"
                          },
                          "internalAmount" : {
                            "description" : "Internal fee amount",
                            "type" : "number"
                          },
                          "totalAmount" : {
                            "description" : "Total fee amount",
                            "type" : "number"
                          },
                          "vatAmount" : {
                            "description" : "VAT amount on total fee",
                            "type" : "number"
                          }
                        },
                        "type" : "object"
                      },
                      "gratuityAmount" : {
                        "description" : "Gratuity amount",
                        "type" : "number"
                      },
                      "lastModified" : {
                        "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                        "format" : "date-time",
                        "type" : "string"
                      },
                      "message" : {
                        "description" : "Message",
                        "type" : "string"
                      },
                      "movementAmount" : {
                        "description" : "Movement amount",
                        "type" : "number"
                      },
                      "systemRefInfo" : {
                        "description" : "System reference",
                        "type" : "string"
                      },
                      "tokenId" : {
                        "description" : "Token identifier",
                        "type" : "string"
                      },
                      "tokenRequestId" : {
                        "description" : "Token request identifier",
                        "type" : "string"
                      },
                      "transactionStatus" : {
                        "description" : "Transaction status",
                        "type" : "string",
                        "enum" : [ "CANCELLED", "FINALISED", "PENDING" ]
                      },
                      "txRefInfo" : {
                        "description" : "Transaction reference",
                        "type" : "string"
                      },
                      "uuid" : {
                        "description" : "UUID (ISO/IEC 9834-8:201)",
                        "type" : "string"
                      }
                    },
                    "type" : "object"
                  },
                  "type" : "array"
                },
                "totalPages" : {
                  "type" : "integer"
                },
                "pageSize" : {
                  "type" : "integer"
                },
                "totalElements" : {
                  "type" : "integer"
                }
              },
              "type" : "object"
            }
          }
        }
      }
    },
    "/tokens" : {
      "get" : {
        "description" : "Find masterpass token by criteria",
        "operationId" : "chips_find_mastepass_token_by_criteria",
        "summary" : "Get one or more payment requests",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "description" : "Token request identifier",
          "required" : false,
          "in" : "query",
          "name" : "tokenRequestId",
          "type" : "string"
        }, {
          "description" : "Token identifier",
          "required" : false,
          "in" : "query",
          "name" : "tokenId",
          "type" : "string"
        }, {
          "description" : "Payee reference number",
          "required" : false,
          "in" : "query",
          "name" : "payeeRefInfo",
          "type" : "string"
        }, {
          "description" : "Status",
          "required" : false,
          "in" : "query",
          "name" : "status",
          "type" : "string"
        }, {
          "description" : "Created from date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "required" : false,
          "in" : "query",
          "name" : "createdFrom",
          "type" : "string"
        }, {
          "description" : "Created until date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "required" : false,
          "in" : "query",
          "name" : "createdUntil",
          "type" : "string"
        }, {
          "description" : "Page number requested",
          "format" : "int32",
          "required" : false,
          "in" : "query",
          "name" : "page",
          "type" : "integer"
        }, {
          "description" : "Number of entries to include per page",
          "format" : "int32",
          "required" : false,
          "in" : "query",
          "name" : "size",
          "type" : "integer"
        }, {
          "description" : "Sort oder",
          "required" : false,
          "in" : "query",
          "name" : "order",
          "type" : "string"
        }, {
          "description" : "Sort field",
          "required" : false,
          "in" : "query",
          "name" : "orderBy",
          "type" : "string"
        }, {
          "description" : "Basic token",
          "required" : false,
          "in" : "header",
          "name" : "Authorization",
          "type" : "string"
        }, {
          "description" : "The routing key parameter.",
          "required" : true,
          "in" : "query",
          "name" : "version",
          "type" : "string",
          "enum" : [ "1.0" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "schema" : {
              "properties" : {
                "pageNumber" : {
                  "type" : "integer"
                },
                "values" : {
                  "items" : {
                    "description" : "Page entries",
                    "required" : [ "created", "description", "dueDate", "lastModified", "payeeRefInfo", "status", "uuid" ],
                    "properties" : {
                      "amount" : {
                        "description" : "Amount",
                        "type" : "number"
                      },
                      "created" : {
                        "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                        "format" : "date-time",
                        "type" : "string"
                      },
                      "description" : {
                        "description" : "Description",
                        "type" : "string"
                      },
                      "dueDate" : {
                        "description" : "Due date (ISO8601 yyyy-mm-dd)",
                        "format" : "date",
                        "type" : "string"
                      },
                      "expiryTime" : {
                        "description" : "Expiry date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                        "format" : "date-time",
                        "type" : "string"
                      },
                      "lastModified" : {
                        "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                        "format" : "date-time",
                        "type" : "string"
                      },
                      "payeeCategory1" : {
                        "description" : "Payee category 1",
                        "type" : "string"
                      },
                      "payeeCategory2" : {
                        "description" : "Payee category 2",
                        "type" : "string"
                      },
                      "payeeCategory3" : {
                        "description" : "Payee category 3",
                        "type" : "string"
                      },
                      "payeeRefInfo" : {
                        "description" : "Payee reference",
                        "type" : "string"
                      },
                      "requestId" : {
                        "description" : "Request identifier. Recommended UUID (ISO/IEC 9834-8:201)",
                        "type" : "string"
                      },
                      "requestTip" : {
                        "description" : "Request tip",
                        "type" : "boolean"
                      },
                      "siteName" : {
                        "description" : "Site name",
                        "type" : "string"
                      },
                      "siteRefInfo" : {
                        "description" : "Site reference",
                        "type" : "string"
                      },
                      "status" : {
                        "description" : "Status",
                        "type" : "string",
                        "enum" : [ "COMPLETED", "EXPIRED", "FAILED", "PENDING", "REJECTED", "REVERSED" ]
                      },
                      "tokenId" : {
                        "description" : "Token identifier",
                        "type" : "string"
                      },
                      "useOnce" : {
                        "description" : "Use once",
                        "type" : "boolean"
                      },
                      "uuid" : {
                        "description" : "UUID (ISO/IEC 9834-8:201)",
                        "type" : "string"
                      }
                    },
                    "type" : "object"
                  },
                  "type" : "array"
                },
                "totalPages" : {
                  "type" : "integer"
                },
                "pageSize" : {
                  "type" : "integer"
                },
                "totalElements" : {
                  "type" : "integer"
                }
              },
              "type" : "object"
            }
          }
        }
      },
      "post" : {
        "description" : "Generate a CHIPS MasterPass token.\n\n\n\nView in\n* [Stoplight](https://stoplight.io/p/docs/gh/trustlink-apim/chips/sandbox-chips-payments-masterpass/swagger.json/paths/~1tokens/post)\n\nFor more details see\n* [MasterPass Token Display Documentation](https://marketplace.trustlinkhosting.com)",
        "operationId" : "chips_create_masterpass_token",
        "summary" : "Create a payment request",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "description" : "",
          "required" : true,
          "in" : "body",
          "name" : "body",
          "schema" : {
            "required" : [ "description", "payeeRefInfo" ],
            "properties" : {
              "amount" : {
                "description" : "Amount to generate the QR code for. The amount will be displayed to the scanner of the QR code in order for them to confirm.\nIf omitted, the QR scanner can populate their own amount.",
                "type" : "number"
              },
              "description" : {
                "description" : "Description for the transaction. This will be displayed to the scanner of the QR code.",
                "type" : "string"
              },
              "dueDate" : {
                "description" : "Due date (ISO8601 yyyy-mm-dd)",
                "format" : "date",
                "type" : "string"
              },
              "expiryTime" : {
                "description" : "Expiry date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ). After this time scanning the QR will result in an invalid QR response.",
                "format" : "date-time",
                "type" : "string"
              },
              "payeeCategory1" : {
                "description" : "Payee category 1",
                "type" : "string"
              },
              "payeeCategory2" : {
                "description" : "Payee category 2",
                "type" : "string"
              },
              "payeeCategory3" : {
                "description" : "Payee category 3",
                "type" : "string"
              },
              "payeeRefInfo" : {
                "description" : "Payee reference",
                "type" : "string"
              },
              "requestId" : {
                "description" : "Request identifier. Recommended UUID (ISO/IEC 9834-8:201)",
                "type" : "string"
              },
              "requestTip" : {
                "description" : "Request tip",
                "type" : "boolean"
              },
              "requestTokenImage" : {
                "description" : "Request token",
                "type" : "boolean"
              },
              "siteName" : {
                "description" : "Site name",
                "type" : "string"
              },
              "siteRefInfo" : {
                "description" : "Site reference",
                "type" : "string"
              },
              "tokenImageSize" : {
                "description" : "Token image size",
                "default" : "SMALL",
                "type" : "string",
                "enum" : [ "SMALL", "MEDIUM", "LARGE" ]
              },
              "useOnce" : {
                "description" : "Use once",
                "type" : "boolean"
              }
            },
            "type" : "object"
          }
        }, {
          "description" : "Merchant UUID and Device API Key Authentication.",
          "required" : false,
          "in" : "header",
          "name" : "Authorization",
          "type" : "string"
        }, {
          "description" : "The routing key parameter.",
          "required" : true,
          "in" : "query",
          "name" : "version",
          "type" : "string",
          "enum" : [ "1.0" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "schema" : {
              "properties" : {
                "amount" : {
                  "type" : "number"
                },
                "useOnce" : {
                  "type" : "boolean"
                },
                "tokenId" : {
                  "type" : "string"
                },
                "created" : {
                  "type" : "string"
                },
                "dueDate" : {
                  "type" : "string"
                },
                "description" : {
                  "type" : "string"
                },
                "siteName" : {
                  "type" : "string"
                },
                "payeeCategory1" : {
                  "type" : "string"
                },
                "payeeCategory2" : {
                  "type" : "string"
                },
                "payeeCategory3" : {
                  "type" : "string"
                },
                "uuid" : {
                  "type" : "string"
                },
                "tokenImage" : {
                  "type" : "string"
                },
                "requestId" : {
                  "type" : "string"
                },
                "siteRefInfo" : {
                  "type" : "string"
                },
                "expiryTime" : {
                  "type" : "string"
                },
                "requestTip" : {
                  "type" : "boolean"
                },
                "lastModified" : {
                  "type" : "string"
                },
                "payeeRefInfo" : {
                  "type" : "string"
                },
                "status" : {
                  "type" : "string"
                }
              },
              "type" : "object"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "PaymentData" : {
      "description" : "Page entries",
      "required" : [ "created", "description", "dueDate", "lastModified", "payeeRefInfo", "status", "uuid" ],
      "properties" : {
        "amount" : {
          "description" : "Amount",
          "type" : "number"
        },
        "created" : {
          "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "description" : {
          "description" : "Description",
          "type" : "string"
        },
        "dueDate" : {
          "description" : "Due date (ISO8601 yyyy-mm-dd)",
          "format" : "date",
          "type" : "string"
        },
        "expiryTime" : {
          "description" : "Expiry date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "lastModified" : {
          "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "payeeCategory1" : {
          "description" : "Payee category 1",
          "type" : "string"
        },
        "payeeCategory2" : {
          "description" : "Payee category 2",
          "type" : "string"
        },
        "payeeCategory3" : {
          "description" : "Payee category 3",
          "type" : "string"
        },
        "payeeRefInfo" : {
          "description" : "Payee reference",
          "type" : "string"
        },
        "requestId" : {
          "description" : "Request identifier. Recommended UUID (ISO/IEC 9834-8:201)",
          "type" : "string"
        },
        "requestTip" : {
          "description" : "Request tip",
          "type" : "boolean"
        },
        "siteName" : {
          "description" : "Site name",
          "type" : "string"
        },
        "siteRefInfo" : {
          "description" : "Site reference",
          "type" : "string"
        },
        "status" : {
          "description" : "Status",
          "type" : "string",
          "enum" : [ "COMPLETED", "EXPIRED", "FAILED", "PENDING", "REJECTED", "REVERSED" ]
        },
        "tokenId" : {
          "description" : "Token identifier",
          "type" : "string"
        },
        "useOnce" : {
          "description" : "Use once",
          "type" : "boolean"
        },
        "uuid" : {
          "description" : "UUID (ISO/IEC 9834-8:201)",
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "PageResponsePaymentData" : {
      "properties" : {
        "pageNumber" : {
          "description" : "Current page number",
          "format" : "int32",
          "type" : "integer"
        },
        "pageSize" : {
          "description" : "Number of entries per page",
          "format" : "int32",
          "type" : "integer"
        },
        "totalElements" : {
          "description" : "Total number of entries",
          "format" : "int64",
          "type" : "integer"
        },
        "totalPages" : {
          "description" : "Total number of pages",
          "format" : "int32",
          "type" : "integer"
        },
        "values" : {
          "description" : "Page entries",
          "items" : {
            "description" : "Page entries",
            "required" : [ "created", "description", "dueDate", "lastModified", "payeeRefInfo", "status", "uuid" ],
            "properties" : {
              "amount" : {
                "description" : "Amount",
                "type" : "number"
              },
              "created" : {
                "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                "format" : "date-time",
                "type" : "string"
              },
              "description" : {
                "description" : "Description",
                "type" : "string"
              },
              "dueDate" : {
                "description" : "Due date (ISO8601 yyyy-mm-dd)",
                "format" : "date",
                "type" : "string"
              },
              "expiryTime" : {
                "description" : "Expiry date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                "format" : "date-time",
                "type" : "string"
              },
              "lastModified" : {
                "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                "format" : "date-time",
                "type" : "string"
              },
              "payeeCategory1" : {
                "description" : "Payee category 1",
                "type" : "string"
              },
              "payeeCategory2" : {
                "description" : "Payee category 2",
                "type" : "string"
              },
              "payeeCategory3" : {
                "description" : "Payee category 3",
                "type" : "string"
              },
              "payeeRefInfo" : {
                "description" : "Payee reference",
                "type" : "string"
              },
              "requestId" : {
                "description" : "Request identifier. Recommended UUID (ISO/IEC 9834-8:201)",
                "type" : "string"
              },
              "requestTip" : {
                "description" : "Request tip",
                "type" : "boolean"
              },
              "siteName" : {
                "description" : "Site name",
                "type" : "string"
              },
              "siteRefInfo" : {
                "description" : "Site reference",
                "type" : "string"
              },
              "status" : {
                "description" : "Status",
                "type" : "string",
                "enum" : [ "COMPLETED", "EXPIRED", "FAILED", "PENDING", "REJECTED", "REVERSED" ]
              },
              "tokenId" : {
                "description" : "Token identifier",
                "type" : "string"
              },
              "useOnce" : {
                "description" : "Use once",
                "type" : "boolean"
              },
              "uuid" : {
                "description" : "UUID (ISO/IEC 9834-8:201)",
                "type" : "string"
              }
            },
            "type" : "object"
          },
          "type" : "array"
        }
      },
      "type" : "object"
    },
    "TokenIinput" : {
      "required" : [ "description", "payeeRefInfo" ],
      "properties" : {
        "amount" : {
          "description" : "Amount",
          "type" : "number"
        },
        "description" : {
          "description" : "Description",
          "type" : "string"
        },
        "dueDate" : {
          "description" : "Due date (ISO8601 yyyy-mm-dd)",
          "format" : "date",
          "type" : "string"
        },
        "expiryTime" : {
          "description" : "Expiry date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "payeeCategory1" : {
          "description" : "Payee category 1",
          "type" : "string"
        },
        "payeeCategory2" : {
          "description" : "Payee category 2",
          "type" : "string"
        },
        "payeeCategory3" : {
          "description" : "Payee category 3",
          "type" : "string"
        },
        "payeeRefInfo" : {
          "description" : "Payee reference",
          "type" : "string"
        },
        "requestId" : {
          "description" : "Request identifier. Recommended UUID (ISO/IEC 9834-8:201)",
          "type" : "string"
        },
        "requestTip" : {
          "description" : "Request tip",
          "type" : "boolean"
        },
        "requestTokenImage" : {
          "description" : "Request token",
          "type" : "boolean"
        },
        "siteName" : {
          "description" : "Site name",
          "type" : "string"
        },
        "siteRefInfo" : {
          "description" : "Site reference",
          "type" : "string"
        },
        "tokenImageSize" : {
          "description" : "Token image size",
          "default" : "SMALL",
          "type" : "string",
          "enum" : [ "SMALL", "MEDIUM", "LARGE" ]
        },
        "useOnce" : {
          "description" : "Use once",
          "type" : "boolean"
        }
      },
      "type" : "object"
    },
    "PageResponseTransactionData" : {
      "properties" : {
        "pageNumber" : {
          "description" : "Current page number",
          "format" : "int32",
          "type" : "integer"
        },
        "pageSize" : {
          "description" : "Number of entries per page",
          "format" : "int32",
          "type" : "integer"
        },
        "totalElements" : {
          "description" : "Total number of entries",
          "format" : "int64",
          "type" : "integer"
        },
        "totalPages" : {
          "description" : "Total number of pages",
          "format" : "int32",
          "type" : "integer"
        },
        "values" : {
          "description" : "Page entries",
          "items" : {
            "description" : "Page entries",
            "required" : [ "amount", "created", "description", "lastModified", "movementAmount", "transactionStatus", "uuid" ],
            "properties" : {
              "amount" : {
                "description" : "Amount",
                "type" : "number"
              },
              "category1" : {
                "description" : "Category 1",
                "type" : "string"
              },
              "category2" : {
                "description" : "Category 2",
                "type" : "string"
              },
              "category3" : {
                "description" : "Category 3",
                "type" : "string"
              },
              "created" : {
                "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                "format" : "date-time",
                "type" : "string"
              },
              "description" : {
                "description" : "Description",
                "type" : "string"
              },
              "fees" : {
                "description" : "Fees attracted by the transaction",
                "properties" : {
                  "externalAmount" : {
                    "description" : "External fee amount",
                    "type" : "number"
                  },
                  "internalAmount" : {
                    "description" : "Internal fee amount",
                    "type" : "number"
                  },
                  "totalAmount" : {
                    "description" : "Total fee amount",
                    "type" : "number"
                  },
                  "vatAmount" : {
                    "description" : "VAT amount on total fee",
                    "type" : "number"
                  }
                },
                "type" : "object"
              },
              "gratuityAmount" : {
                "description" : "Gratuity amount",
                "type" : "number"
              },
              "lastModified" : {
                "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
                "format" : "date-time",
                "type" : "string"
              },
              "message" : {
                "description" : "Message",
                "type" : "string"
              },
              "movementAmount" : {
                "description" : "Movement amount",
                "type" : "number"
              },
              "systemRefInfo" : {
                "description" : "System reference",
                "type" : "string"
              },
              "tokenId" : {
                "description" : "Token identifier",
                "type" : "string"
              },
              "tokenRequestId" : {
                "description" : "Token request identifier",
                "type" : "string"
              },
              "transactionStatus" : {
                "description" : "Transaction status",
                "type" : "string",
                "enum" : [ "CANCELLED", "FINALISED", "PENDING" ]
              },
              "txRefInfo" : {
                "description" : "Transaction reference",
                "type" : "string"
              },
              "uuid" : {
                "description" : "UUID (ISO/IEC 9834-8:201)",
                "type" : "string"
              }
            },
            "type" : "object"
          },
          "type" : "array"
        }
      },
      "type" : "object"
    },
    "TokenData" : {
      "required" : [ "created", "description", "lastModified", "payeeRefInfo", "status", "uuid" ],
      "properties" : {
        "amount" : {
          "description" : "Amount",
          "type" : "number"
        },
        "created" : {
          "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "description" : {
          "description" : "Description",
          "type" : "string"
        },
        "dueDate" : {
          "description" : "Due date (ISO8601 yyyy-mm-dd)",
          "format" : "date",
          "type" : "string"
        },
        "expiryTime" : {
          "description" : "Expiry date and time (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "lastModified" : {
          "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "payeeCategory1" : {
          "description" : "Payee category 1",
          "type" : "string"
        },
        "payeeCategory2" : {
          "description" : "Payee category 2",
          "type" : "string"
        },
        "payeeCategory3" : {
          "description" : "Payee category 3",
          "type" : "string"
        },
        "payeeRefInfo" : {
          "description" : "Payee reference",
          "type" : "string"
        },
        "requestId" : {
          "description" : "Request identifier. Recommended UUID (ISO/IEC 9834-8:201)",
          "type" : "string"
        },
        "requestTip" : {
          "description" : "Request tip",
          "type" : "boolean"
        },
        "siteName" : {
          "description" : "Site name",
          "type" : "string"
        },
        "siteRefInfo" : {
          "description" : "Site reference",
          "type" : "string"
        },
        "status" : {
          "description" : "Status",
          "type" : "string",
          "enum" : [ "COMPLETED", "EXPIRED", "FAILED", "PENDING", "REJECTED", "REVERSED" ]
        },
        "tokenId" : {
          "description" : "Token identifier",
          "type" : "string"
        },
        "tokenImage" : {
          "description" : "Base64 encoded token image",
          "type" : "string"
        },
        "useOnce" : {
          "description" : "Use once",
          "type" : "boolean"
        },
        "uuid" : {
          "description" : "UUID (ISO/IEC 9834-8:201)",
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "TransactionData" : {
      "description" : "Page entries",
      "required" : [ "amount", "created", "description", "lastModified", "movementAmount", "transactionStatus", "uuid" ],
      "properties" : {
        "amount" : {
          "description" : "Amount",
          "type" : "number"
        },
        "category1" : {
          "description" : "Category 1",
          "type" : "string"
        },
        "category2" : {
          "description" : "Category 2",
          "type" : "string"
        },
        "category3" : {
          "description" : "Category 3",
          "type" : "string"
        },
        "created" : {
          "description" : "Date and time created (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "description" : {
          "description" : "Description",
          "type" : "string"
        },
        "fees" : {
          "description" : "Fees attracted by the transaction",
          "properties" : {
            "externalAmount" : {
              "description" : "External fee amount",
              "type" : "number"
            },
            "internalAmount" : {
              "description" : "Internal fee amount",
              "type" : "number"
            },
            "totalAmount" : {
              "description" : "Total fee amount",
              "type" : "number"
            },
            "vatAmount" : {
              "description" : "VAT amount on total fee",
              "type" : "number"
            }
          },
          "type" : "object"
        },
        "gratuityAmount" : {
          "description" : "Gratuity amount",
          "type" : "number"
        },
        "lastModified" : {
          "description" : "Date and time last modified (ISO8601 yyyy-mm-ddThh:mm:ss.nnnZ)",
          "format" : "date-time",
          "type" : "string"
        },
        "message" : {
          "description" : "Message",
          "type" : "string"
        },
        "movementAmount" : {
          "description" : "Movement amount",
          "type" : "number"
        },
        "systemRefInfo" : {
          "description" : "System reference",
          "type" : "string"
        },
        "tokenId" : {
          "description" : "Token identifier",
          "type" : "string"
        },
        "tokenRequestId" : {
          "description" : "Token request identifier",
          "type" : "string"
        },
        "transactionStatus" : {
          "description" : "Transaction status",
          "type" : "string",
          "enum" : [ "CANCELLED", "FINALISED", "PENDING" ]
        },
        "txRefInfo" : {
          "description" : "Transaction reference",
          "type" : "string"
        },
        "uuid" : {
          "description" : "UUID (ISO/IEC 9834-8:201)",
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "FeeData" : {
      "description" : "Fees attracted by the transaction",
      "properties" : {
        "externalAmount" : {
          "description" : "External fee amount",
          "type" : "number"
        },
        "internalAmount" : {
          "description" : "Internal fee amount",
          "type" : "number"
        },
        "totalAmount" : {
          "description" : "Total fee amount",
          "type" : "number"
        },
        "vatAmount" : {
          "description" : "VAT amount on total fee",
          "type" : "number"
        }
      },
      "type" : "object"
    }
  },
  "securityDefinitions" : {
    "API Key" : {
      "type" : "apiKey",
      "description" : "API Key",
      "name" : "marketplaceKeyId",
      "in" : "header"
    }
  },
  "security" : [ {
    "API Key" : [ ]
  } ],
  "info" : {
    "title" : "[Sandbox] CHIPS Masterpass Gateway",
    "description" : "The CHIPS payment platform enables registered users/merchants to create a payment request token that can be paid with various MasterPass enabled payment applications available on the South African payments landscape.\n\n# Prerequisites\nSubscribe to the CHIPS Payment Network APIs on the [Trustlink API Marketplace](https://marketplace.trustlinkhosting.com/component/apiportal/registration)\n\n# Environments\n---\n## **Sandbox**\n*CHIPS&reg; test environment* \n \n**Steps to getting started:**\n1. Register a company (test merchant) on the [miBusiness test web application](https://tar.qa.tlsag.net/mb/app)\n    1. You will have to fill is an online form to create the business on the test environment.\n1. Add a device in the miBusiness portal inder the *'Connect device -> Manage payment devices'* menu option.\n    1. You will have to specify the test URI for the webhook where confirmations of payment will be delivered.\n    1. An API key and Hash key for the test environment will automatically be created. \n\n---\n## **Production**\n*CHIPS&reg; test environment* \n\n**Steps to getting started:**\n1. Register your business on the [CHIPS&reg; merchant on-boarding portal](https://merchant.chips.co.za)\n    1. You will receive your live miBusiness credentials via email.\n1. Add a device in the miBusiness portal inder the *'Connect device -> Manage payment devices'* menu option.\n    1. You will have to specify the live URI for the webhook where confirmations of payment will be delivered.\n    1. An API key and Hash key for the test environment will automatically be created. |\n\n# Terms and Conditions\nBy using these APIs you agree to the following terms and conditions\n1. Trustlink Marketplace Confedential App Terms and Conditions\n2. [CHIPS Terms and Conditions](http://www.chips.co.za/downloads/CHIPS_Terms_Conditions_2019-07-25.pdf)\n3. [AOS Terms and Conditions](http://www.chips.co.za/downloads/AOS_Terms_and_Conditions_2018-06-26.pdf)",
    "version" : "1.0",
    "x-summary" : "Allows CHIPS merchants to embedded Masterpass QR codes at paypoints."
  }
}