{
    "swagger": "2.0",
    "info": {
        "title": "CHIPS Money API - VAS Service Purchases",
        "version": "1.0",
        "description": "APIs to assist integrators to test and integrate the VAS for Prepaid Mobile. \n\n# Features\n*Get one or more prepaid merchants by criteria\n*Get prepaid merchant by UUID\n*Get one or more products\n*Get product\n*Get one or more purchases\n*Create purchase\n*Get purchase\n\n",
        "contact": {
            "name": "API Sales",
            "url": "https://marketplace.trustlinkhosting.com",
            "email": "apisales@trustlink.co.za"
        },
        "termsOfService": " https://marketplace.trustlinkhosting.com",
        "license": {
            "name": " Apache 2.0 License",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "apim.trustlinkhosting.com:8165",
    "schemes": [
        "http"
    ],
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/v1.0/prepaid/merchants/{uuid}": {
            "parameters": [
                {
                    "type": "string",
                    "name": "uuid",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "GET Merchants by uuid",
                "tags": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "requestId": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "created": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "createdBy": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "createdByChannelUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "lastModified": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "modifiedBy": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "reason": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "name": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "merchantType": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "uuid",
                                "requestId",
                                "created",
                                "createdBy",
                                "createdByChannelUuid",
                                "lastModified",
                                "modifiedBy",
                                "lastModifiedByChannelUuid",
                                "reason",
                                "name",
                                "merchantType"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "uuid": "string",
                                    "requestId": "string",
                                    "created": "2021-05-19T06:23:45.449Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "string",
                                    "lastModified": "2021-05-19T06:23:45.449Z",
                                    "modifiedBy": "string",
                                    "lastModifiedByChannelUuid": "string",
                                    "reason": "string",
                                    "name": "string",
                                    "merchantType": "ELECTRICITY"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "operationId": "get-prepaid-merchants-UUID",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "uuid",
                        "description": "The unique reference used to identify the token request.",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "description": "Get prepaid merchant from UUID"
            }
        },
        "/v1.0/prepaid/merchants": {
            "get": {
                "summary": "GET Merchants",
                "tags": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "x-examples": {
                                "example-1": {
                                    "pageSize": 200,
                                    "pageNumber": 1,
                                    "totalPages": 1,
                                    "totalElements": 1,
                                    "values": []
                                }
                            },
                            "properties": {
                                "pageSize": {
                                    "type": "number",
                                    "description": "Numbr of entries per page"
                                },
                                "pageNumber": {
                                    "type": "number",
                                    "description": "Current page number\n"
                                },
                                "totalPages": {
                                    "type": "number",
                                    "description": "Total number of pages"
                                },
                                "totalElements": {
                                    "type": "number",
                                    "description": "Total number of entries"
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            },
                            "required": [
                                "pageSize",
                                "pageNumber",
                                "totalPages",
                                "totalElements",
                                "values"
                            ]
                        },
                        "headers": {}
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "operationId": "get-v1.0-prepaid-merchants",
                "description": "Get one or more merchants by criteria",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "merchantType",
                        "description": "Type of merchant. Electricity or Mobile"
                    },
                    {
                        "in": "formData",
                        "type": "integer",
                        "name": "page",
                        "description": "Page number requested"
                    },
                    {
                        "in": "formData",
                        "type": "integer",
                        "name": "size",
                        "description": "Number of entries to include per page"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "order",
                        "description": "Order of entries. ASC or DESC"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "orderBy",
                        "description": "Sort field",
                        "default": "lastModified"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ]
            }
        },
        "/v1.0/prepaid/products": {
            "get": {
                "summary": "GET Prepaid Products",
                "tags": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "pageSize": {
                                    "type": "number"
                                },
                                "pageNumber": {
                                    "type": "number"
                                },
                                "totalPages": {
                                    "type": "number"
                                },
                                "totalElements": {
                                    "type": "number"
                                },
                                "values": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "uuid",
                                            "requestId",
                                            "created",
                                            "createdBy",
                                            "createdByChannelUuid",
                                            "lastModified",
                                            "modifiedBy",
                                            "lastModifiedByChannelUuid",
                                            "reason",
                                            "merchantUuid",
                                            "productType",
                                            "productCode",
                                            "description",
                                            "amount",
                                            "productStatus",
                                            "approvalStatus",
                                            "approvedDescription"
                                        ],
                                        "properties": {
                                            "uuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "requestId": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "created": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "createdBy": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "createdByChannelUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "lastModified": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "modifiedBy": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "lastModifiedByChannelUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "reason": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "merchantUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "productType": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "productCode": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "description": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "amount": {
                                                "type": "number"
                                            },
                                            "productStatus": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "approvalStatus": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "approvedDescription": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        }
                                    }
                                }
                            },
                            "required": [
                                "pageSize",
                                "pageNumber",
                                "totalPages",
                                "totalElements",
                                "values"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "pageSize": 0,
                                    "pageNumber": 0,
                                    "totalPages": 0,
                                    "totalElements": 0,
                                    "values": [
                                        {
                                            "uuid": "string",
                                            "requestId": "string",
                                            "created": "2021-05-19T06:28:03.435Z",
                                            "createdBy": "string",
                                            "createdByChannelUuid": "string",
                                            "lastModified": "2021-05-19T06:28:03.435Z",
                                            "modifiedBy": "string",
                                            "lastModifiedByChannelUuid": "string",
                                            "reason": "string",
                                            "merchantUuid": "string",
                                            "productType": "AIRTIME",
                                            "productCode": "string",
                                            "description": "string",
                                            "amount": 0,
                                            "productStatus": "ACTIVE",
                                            "approvalStatus": "PENDING",
                                            "approvedDescription": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "operationId": "get-v1.0-prepaid-products",
                "description": "Get one or more products",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "merchantUuid",
                        "description": "The unique reference used to identify the token request."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "productType",
                        "description": "Type of prepaid product. Airtime, data, sms, other, or electricity."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "productCode"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "productStatus",
                        "description": "Status of the product. Active or Inactive."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "approvalStatus",
                        "description": "Approval status of the product. Pending, Approved, or Rejected."
                    },
                    {
                        "in": "formData",
                        "type": "integer",
                        "name": "page",
                        "description": "Page number requested"
                    },
                    {
                        "in": "formData",
                        "type": "integer",
                        "name": "size",
                        "description": "Number of entries to include per page"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "oder",
                        "description": "Sort order. Asc, or desc."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "orderBy",
                        "description": "Sort Field",
                        "default": "lastModified"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ]
            }
        },
        "/v1.0/prepaid/products/{uuid}": {
            "parameters": [
                {
                    "type": "string",
                    "name": "uuid",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "GET Prepaid products by uuid",
                "tags": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "requestId": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "created": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "createdBy": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "createdByChannelUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "lastModified": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "modifiedBy": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "reason": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "merchantUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "productType": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "productCode": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "description": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "amount": {
                                    "type": "number"
                                },
                                "productStatus": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "approvalStatus": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "approvedDescription": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "uuid",
                                "requestId",
                                "created",
                                "createdBy",
                                "createdByChannelUuid",
                                "lastModified",
                                "modifiedBy",
                                "lastModifiedByChannelUuid",
                                "reason",
                                "merchantUuid",
                                "productType",
                                "productCode",
                                "description",
                                "amount",
                                "productStatus",
                                "approvalStatus",
                                "approvedDescription"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "uuid": "string",
                                    "requestId": "string",
                                    "created": "2021-05-19T06:28:54.566Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "string",
                                    "lastModified": "2021-05-19T06:28:54.566Z",
                                    "modifiedBy": "string",
                                    "lastModifiedByChannelUuid": "string",
                                    "reason": "string",
                                    "merchantUuid": "string",
                                    "productType": "AIRTIME",
                                    "productCode": "string",
                                    "description": "string",
                                    "amount": 0,
                                    "productStatus": "ACTIVE",
                                    "approvalStatus": "PENDING",
                                    "approvedDescription": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "operationId": "get-v1.0-prepaid-products-uuid",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "uuid",
                        "description": "The unique reference used to identify the token request."
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ]
            }
        },
        "/v1.0/prepaid/purchases": {
            "get": {
                "summary": "Get Purchases",
                "tags": [],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "pageSize": {
                                    "type": "number"
                                },
                                "pageNumber": {
                                    "type": "number"
                                },
                                "totalPages": {
                                    "type": "number"
                                },
                                "totalElements": {
                                    "type": "number"
                                },
                                "values": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "uuid",
                                            "requestId",
                                            "created",
                                            "createdBy",
                                            "createdByChannelUuid",
                                            "lastModified",
                                            "modifiedBy",
                                            "lastModifiedByChannelUuid",
                                            "reason",
                                            "payerAccountUuid",
                                            "payerCategory1",
                                            "payerCategory2",
                                            "payerCategory3",
                                            "payerRefInfo",
                                            "productUuid",
                                            "itemNumber",
                                            "amount"
                                        ],
                                        "properties": {
                                            "uuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "requestId": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "created": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "createdBy": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "createdByChannelUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "lastModified": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "modifiedBy": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "lastModifiedByChannelUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "reason": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "payerAccountUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "payerCategory1": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "payerCategory2": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "payerCategory3": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "payerRefInfo": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "productUuid": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "itemNumber": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "amount": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            },
                            "required": [
                                "pageSize",
                                "pageNumber",
                                "totalPages",
                                "totalElements",
                                "values"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "pageSize": 0,
                                    "pageNumber": 0,
                                    "totalPages": 0,
                                    "totalElements": 0,
                                    "values": [
                                        {
                                            "uuid": "string",
                                            "requestId": "string",
                                            "created": "2021-05-19T06:29:36.840Z",
                                            "createdBy": "string",
                                            "createdByChannelUuid": "string",
                                            "lastModified": "2021-05-19T06:29:36.840Z",
                                            "modifiedBy": "string",
                                            "lastModifiedByChannelUuid": "string",
                                            "reason": "string",
                                            "payerAccountUuid": "string",
                                            "payerCategory1": "string",
                                            "payerCategory2": "string",
                                            "payerCategory3": "string",
                                            "payerRefInfo": "string",
                                            "productUuid": "string",
                                            "itemNumber": "string",
                                            "amount": 0
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "get-v1.0-prepaid-purchases",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "required": true,
                        "name": "payerAccountUuid",
                        "description": "The unique reference used to identify the token request."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "productUuid",
                        "description": "The unique reference used to identify the token request."
                    },
                    {
                        "in": "formData",
                        "type": "integer",
                        "name": "page",
                        "description": "Page number requested"
                    },
                    {
                        "in": "formData",
                        "type": "integer",
                        "description": "Number of entries to include per page",
                        "name": "size",
                        "default": 200
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "order",
                        "description": "Sort order. Asc, or Desc."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "orderBy",
                        "description": "Sort Field.",
                        "default": "lastModified"
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "description": "Get one or more purchases"
            },
            "post": {
                "summary": "",
                "operationId": "post-v1.0-prepaid-purchases",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "payerAccountUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory1": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory2": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory3": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerRefInfo": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "productUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "itemNumber": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "amount": {
                                    "type": "number"
                                }
                            },
                            "required": [
                                "payerAccountUuid",
                                "payerCategory1",
                                "payerCategory2",
                                "payerCategory3",
                                "payerRefInfo",
                                "productUuid",
                                "itemNumber",
                                "amount"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "payerAccountUuid": "string",
                                    "payerCategory1": "string",
                                    "payerCategory2": "string",
                                    "payerCategory3": "string",
                                    "payerRefInfo": "string",
                                    "productUuid": "string",
                                    "itemNumber": "string",
                                    "amount": 0
                                }
                            }
                        }
                    }
                },
                "description": "Create Purchase",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "payerAccountUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory1": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory2": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory3": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerRefInfo": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "productUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "itemNumber": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "amount": {
                                    "type": "number"
                                }
                            },
                            "required": [
                                "payerAccountUuid",
                                "payerCategory1",
                                "payerCategory2",
                                "payerCategory3",
                                "payerRefInfo",
                                "productUuid",
                                "itemNumber",
                                "amount"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "payerAccountUuid": "string",
                                    "payerCategory1": "string",
                                    "payerCategory2": "string",
                                    "payerCategory3": "string",
                                    "payerRefInfo": "string",
                                    "productUuid": "string",
                                    "itemNumber": "string",
                                    "amount": 0
                                }
                            }
                        }
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ]
            }
        },
        "/v1.0/prepaid/purchases/{uuid}": {
            "parameters": [
                {
                    "type": "string",
                    "name": "uuid",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "GET Purchases by uuid",
                "tags": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "uuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "requestId": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "created": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "createdBy": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "createdByChannelUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "lastModified": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "modifiedBy": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "lastModifiedByChannelUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "reason": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerAccountUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory1": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory2": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerCategory3": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "payerRefInfo": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "productUuid": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "itemNumber": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "amount": {
                                    "type": "number"
                                }
                            },
                            "required": [
                                "uuid",
                                "requestId",
                                "created",
                                "createdBy",
                                "createdByChannelUuid",
                                "lastModified",
                                "modifiedBy",
                                "lastModifiedByChannelUuid",
                                "reason",
                                "payerAccountUuid",
                                "payerCategory1",
                                "payerCategory2",
                                "payerCategory3",
                                "payerRefInfo",
                                "productUuid",
                                "itemNumber",
                                "amount"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "uuid": "string",
                                    "requestId": "string",
                                    "created": "2021-05-19T06:33:21.578Z",
                                    "createdBy": "string",
                                    "createdByChannelUuid": "string",
                                    "lastModified": "2021-05-19T06:33:21.578Z",
                                    "modifiedBy": "string",
                                    "lastModifiedByChannelUuid": "string",
                                    "reason": "string",
                                    "payerAccountUuid": "string",
                                    "payerCategory1": "string",
                                    "payerCategory2": "string",
                                    "payerCategory3": "string",
                                    "payerRefInfo": "string",
                                    "productUuid": "string",
                                    "itemNumber": "string",
                                    "amount": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "operationId": "get-v1.0-prepaid-purchases-uuid",
                "description": "Get purchase by UUID",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "uuid",
                        "required": true,
                        "description": "The unique reference used to identify the token request."
                    },
                    {
                        "type": "string",
                        "description": "Marketplace API Key",
                        "name": "marketplaceKeyId",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Version of the API. (Latest version 1.0)",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ]
            }
        }
    },
    "definitions": {},
    "basePath": "/sandbox/chips/money/vas",
    "securityDefinitions": {
        "Marketplace API Key": {
            "type": "apiKey",
            "description": "API Key",
            "name": "marketplaceKeyId"
        },
        "in": "header"
    },
    "security": [
        {
            "Marketplace API Key": []
        }
    ],
    "buildtarget": "stoplight"
}